.block.mx-auto
  %div
    %h1.text-3xl.mt-0.mb-3.font-semibold
      About me
    %p.mt-0.mb-5
      Hi there! I'm JM Arenas, a student from Avion School!
    
    %p.mt-0.mb-5
      I graduated from Colegio de Sta. Teresa de Avila with a Bachelors's Degree in Information Technology. I started working as a Software Engineer as soon as I graduated, building windows apps for different departments and divisions.
    
    %p.mt-0.mb-5
      With 3 years of experience, I still felt lacking on so many things so I started pursuing Web Development and enrolled myself at Avion School to strengthen my foundations and build my confidence on my journey to be a successful Software Engineer.

    %h4.text-2xl.mt-0.font-semibold
      ``
    %p.mt-0.mb-5.italic
      Everyone grows at their own pace. Don't compare yourself to anyone.

  .mb-10.pb-7.border-b.border-black.text-center.text-4xl

  .flex.justify-between.gap-2
    = link_to "Get in touch", root_path, :class => "block text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm py-3 px-7 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"