%div
  %div
    %h1.text-3xl
      Ask Me Anything!
  
    %p.text-base
      Feel free to ask me any question about this project or if you have any business inquires. Fill out the form below or send me an email to rns.jey@gmail.com
  
  .mb-10.pb-7.border-b.border-black

  = render 'form'